/* reset styles */
*{
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html:focus-within {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

img,
picture {
  max-width: 100%;
  display: block;
}


/*helper */

.container{
    --container-width: 1440px;
    max-width: var(--container-width);
    padding: 0 15px;
    margin: 0 auto;
}

.font-Zen-Dots{
    font-family: 'Zen Dots';
    font-style: normal;
    font-weight: 400;
}
.font-Jost{
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
}

/* Variables */

:root {
    --color-white: #FFFFFF; 
    --color-cloud-burst: #BDBFD1; 
    --color-bolotO: #C9C27A;
    --color-tealish-blue: #0F4CA5;
    --color-cloud-burst: #9093B1;
    --background-cl: linear-gradient(118.73deg, #CAB0B3 0.05%, #C3181F 38.91%, #0B0E17 99.88%, #09101D 100%);
    --color-background: #020B12;
}

/* */
body{
    background-color: var(--color-background);
}

.header{
    color: var(--color-white);
}

.main-header{
    width: 100%;
    display: inline-block;
    margin-bottom: 5vh;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.list{
    display: flex;
}

li{
    list-style-type: none;
    margin: 20px;
}

.header-content{
    display: flex;
    margin-bottom: 15vh;
}

.content{
    display: inline-block;
    width: 50%;
}

.image{
    display: inline-block;
    width: 50%;
    min-height: 70vh;
    background-image: url(image/img1.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.header-content button{
    width: 100px;
    height: 50px;
    border-radius: 5px;
}

button{
    color: var(--color-white);
}

.but1{
    background-color: var(--background-cl);
    margin-right: 15%;
}

.but2{
    background-color: var(--color-background);
    border: #C3181F 1px solid;
}

.other{
    display: flex;
    margin-top: 7vh;
}

.p1{
    font-size: 4rem;
    margin-bottom: 3vh;
}

.p2{
    margin-bottom: 7vh;
}

.p3{
    margin-right: 10%;
}

.top-creator{
    color:  var(--color-white);
}

.top-creator button{
    width: 100px;
    height: 50px;
    border-radius: 5px;
    margin-left: 45%;
}

.top{
    font-size: 3rem;
    text-align: center;
}

.p4{
    color: var(--color-cloud-burst);
    text-align: center;
}

.block{
    width: 250px;
    border: solid 1px var(--color-white);
    border-radius: 5px;
}

.block img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
    margin: 5px;
    object-fit: cover;
    object-position: center;
}

.block div{
    display: inline-block;
}

.p5{
    color: var(--color-bolotO);
}

.the-most-collections{
    color: var(--color-white);
}

.collection{
    font-size: 3rem;
    text-align: center;
}

.p6{
    color: var(--color-cloud-burst);
    text-align: center;
}